@import 'reset.less';
@import 'basics.less';

@font-face {
  font-family: 'Bely';
  src: local('Bely'), url(./../fonts/Bely.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./../fonts/Avenir.ttc) format('truetype');
}
body {
  margin: 0;
  padding: 0;
}
.app {
  margin: auto auto;
  padding-bottom: 40px;
  max-width: 100%;
  .top_container {
    background-color: #ff6946;
    color: #f1e6d0;
    margin: auto auto 40px auto;
    padding-top: 40px;
    position: relative;
    h3,
    h5 {
      color: hsl(0, 0%, 90%);
      font-family: 'Bely';
      text-align: center;
    }
    h3 {
      font-size: 80px;
      letter-spacing: 0.15em;
      margin-top: 40px;
    }
    h5 {
      font-size: 16px;
      letter-spacing: 0.15em;
      margin-top: 40px;
      padding-bottom: 100px;
    }
    div {
      font-size: 0;
    }
    .image_container {
      text-align:center;
      .top_center_image {
        margin: auto auto;
        width: 40px;
      }
      .left_bottom_image {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 200px;
      }
      .right_bottom_image {
        bottom: 0;
        right: 0;
        position: absolute;
        width: 200px;
      }
      &.bottom_center_image_container {
        background-color: #ff6946;
        bottom: -20px;
        left: 50%;
        margin-left: -25px;
        padding: 10px;
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        bottom: -20px;
        width: 50px;
        .bottom_center_image {
          width: 25px;
        }
      }
    }
  }
  .navigation_container {
    font-family: 'Avenir';
    margin: auto auto;
    max-width: 600px;
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        a {
          color: #cbc0ab;
          cursor: pointer;
          float: left;
          text-decoration: none;
          text-align: center;
          width: 600/6px;
          &:hover,
          &.active {
            color: #ff6946;
            font-weight: 900;
          }
        }
      }
    }
  }
  .container {
    margin: 20px auto 20px auto;
    max-width: 600px;
    .clearfix;
    .left_container,
    .right_container {
      box-sizing: border-box;
      padding: 20px;
      width: 50%;
    }
    .left_container {
      float: left;
      width: 60%;
    }
    .right_container {
      float: right;
      width: 40%;
    }
    .center_container {
      margin: auto auto;
      text-align: center;
    }
    .image {
      width: 100%;
      &.image_franci_david {
        border-top-right-radius: 80px;
      }
      &.ecuador1 {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
      &.ecuador2 {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
    h3 {
      color: #ff6946;
      font-family: 'Bely';
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 0.01em;
      margin-bottom: 20px;
      text-transform: uppercase;
      &.center {
        text-align: center;
      }
      &.corn_header {
        padding-left: 60px;
        position: relative;
        z-index: 1;
        letter-spacing: 0.05em;
        &:before {
          background-image: url('./../../img/assets/Asset 6.png');
          background-repeat: no-repeat;
          background-size: 100%;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 80px;
          z-index: 0;
        }
      }
    }
    h4 {
      color: #ff6946;
      font-family: 'Bely';
      font-size: 19px;
      font-weight: 600;
      letter-spacing: 0.01em;
      margin-bottom: 10px;
      text-transform: uppercase;
      &.airplane_header {
        margin-bottom: 40px;
        position: relative;
        z-index: 1;
        &:before {
          background-image: url('./../../img/assets/Asset 7.png');
          background-repeat: no-repeat;
          background-size: 100%;
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          top: 15px;
          width: 80px;
          z-index: 0;
        }
      }
    }
    h5 {
      font-family: 'Bely';
      font-weight: 600;
      letter-spacing: 0.1em;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 22px;
      font-family: 'Avenir';
      a {
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
      strong {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    button {
      background-color: #ff6946;
      border-radius: 20px;
      border: 0;
      color: #f1e6d0;
      font-size: 16px;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      outline: none;
      text-align: center;
      text-transform: uppercase;
      width: 150px;
    }
    table {
      margin: auto auto;
      vertical-align: middle;
      td {
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: bottom;
        width: 150px;
        strong {
          font-weight: 600;
        }
        i {
          font-style: italic; 
        }
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .flower {
          width: 60px;
        }
      }
    }
  }
  .container_rsvp {
    .clearfix;
    background-color: #ff6946;
    color: #f1e6d0;
    width: 100%;
    .content_wrapper {
      .clearfix;
      margin: 20px auto;
      padding: 0;
      max-width: 800px;
      div {
        display: table-cell;
      }
      .left_container,
      .right_container {
        box-sizing: border-box;
        padding: 20px;
      }
      .left_container {
        width: 160px;
        position: relative;
        text-align: right;
        .franci_child_container {
          bottom: 0;
          left: 0;
          position: absolute;
          .franci_child {
            width: 150px;
          }
        }
      }
      >.center_container {
        border-right: 100px solid #101d47;
        padding: 40px 20px;
      }
      .right_container {
        width: 100px;
        position: relative;
        text-align: right;
        .david_child_container {
          top: 40px;
          right: 0;
          position: absolute;
          .david_child {
            width: 150px;
          }
        }
      }
      h3 {
        font-family: 'Bely';
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      h4 {
        margin-bottom: 20px;
      }
      button {
        background-color: #f1e6d0;
        border-radius: 20px;
        border: 0;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
      }
      p {
        color: #000;
        font-family: 'Avenir';
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }
  }
}