@import 'reset.less';
@import 'basics.less';

@font-face {
  font-family: 'Bely';
  src: local('Bely'), url(./../media/fonts/Bely.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./../media/fonts/Avenir.ttc) format('truetype');
}

body {
  margin: 0;
  padding: 0;
}
.app {
  margin: auto auto;
  max-width: 100%;
  .top_container {
    background-color: #ff6946;
    color: #fff;
    margin: auto auto 40px auto;
    padding-top: 40px;
    position: relative;
    h3,
    h5 {
      color: hsl(0, 0%, 90%);
      font-family: 'Bely';
      text-align: center;
    }
    h3 {
      font-size: 60px;
      letter-spacing: 0.15em;
      margin-top: 40px;
    }
    h5 {
      font-size: 16px;
      letter-spacing: 0.15em;
      margin-top: 40px;
      padding-bottom: 100px;
    }
    div {
      font-size: 0;
    }
    .image_container {
      text-align:center;
      .top_center_image {
        margin: auto auto;
        width: 40px;
      }
      .left_bottom_image {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 200px;
      }
      .right_bottom_image {
        bottom: 0;
        right: 0;
        position: absolute;
        width: 200px;
      }
      &.bottom_center_image_container {
        background-color: #ff6946;
        bottom: -20px;
        left: 50%;
        margin-left: -25px;
        padding: 10px;
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        bottom: -20px;
        width: 50px;
        .bottom_center_image {
          width: 25px;
        }
      }
    }
  }
  .navigation_container {
    font-family: 'Avenir';
    margin: auto auto;
    max-width: 600px;
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        float: left;
        text-align: center;
        width: 600/6px;
      }
    }
  }
  .container {
    margin: auto auto 20px auto;
    max-width: 600px;
    .clearfix;
    .left_container,
    .right_container {
      box-sizing: border-box;
      padding: 20px;
      width: 50%;
    }
    .left_container {
      float: left;
    }
    .right_container {
      float: right;
    }
    .center_container {
      margin: auto auto;
      text-align: center;
    }
    .image {
      width: 100%;
      &.image_franci_david {
        border-top-right-radius: 80px;
      }
      &.beach {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
    h3 {
      color: #ff6946;
      font-family: 'Bely';
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase;
      &.center {
        text-align: center;
      }
    }
    h4 {
      color: #ff6946;
      font-family: 'Bely';
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    h5 {
      font-family: 'Bely';
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 20px;
      line-height: 20px;
      font-family: 'Avenir';
    }
    button {
      background-color: #ff6946;
      border-radius: 20px;
      border: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      outline: none;
      text-align: center;
      text-transform: uppercase;
      width: 150px;
    }
    table {
      margin: auto auto;
      font-weight: 600;
      vertical-align: middle;
    }
  }
  .container_rsvp {
    .clearfix;
    background-color: #ff6946;
    color: hsl(0, 0%, 90%);
    width: 100%;
    .content_wrapper {
      margin: auto auto;
      max-width: 800px;
      .left_container,
      .right_container {
        box-sizing: border-box;
        padding: 20px;
        width: 50%;
      }
      .left_container {
        float: left;
        text-align: right
      }
      .right_container {
        float: right;
      }
      h3 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 20px;
      }
      button {
        background-color: #fff;
        border-radius: 20px;
        border: 0;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
      }
      p {
        margin: auto auto;
        color: #000;
        margin-bottom: 20px;
      }
    }
  }
}